# Core WP nel container: ignoriamo tutto salvo wp-content
*
!wp-content/
!docker-compose.yml
!.env*
!.gitignore
!README.md

# Dentro wp-content
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log

# Node/Tooling (se aggiungerai build)
node_modules/
.dist/
.DS_Store